language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

script:
    - ant travis

branches:
  except:
    - jenkins

notifications:
  email:
    - dev@escapestudios.com
