language: php

matrix:
  include:
    - php: 5.4
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: hhvm
    - php: hhvm-nightly
  allow_failures:
    - php: hhvm
    - php: hhvm-nightly

before_script:
  - stable='^[0-9\.]+$'; if [[ "$TRAVIS_PHP_VERSION" =~ $stable ]]; then phpenv config-rm xdebug.ini; fi
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - phpunit --version

script:
    - ant test
